*.xml
*.jpg
lib/xml
py-pagexml/build
py-pagexml/dist
py-textfeat/build
py-textfeat/dist
_build
*.egg-info
PageXML_wrap.cpp
pagexml.py
TextFeatExtractor_wrap.cpp
textfeat.py
__pycache__
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
*.so
