[submodule "py-pagexml/opencv-swig"]
	path = py-pagexml/opencv-swig
	url = https://github.com/renatoGarcia/opencv-swig.git
[submodule "pageformat"]
	path = xsd/pageformat
	url = https://github.com/omni-us/pageformat.git
